h1,h2{
    color : brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 body{
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 body{
     margin-left: 50px;
     padding-left: 10px;
 }